<h1>BOOKS SEARCH</h1>
<p class="title">Enter Your Book Title Below</p>
<form action="/books/result" class="form-group">
<input type="text" name = "book_title" class="input">
<button type="submit" class="button">Search</button>
</form>