<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Express Intro</title>
</head>

<body>
    <h1>Hello EJS</h1>
    <h1>
        <%= Math.random() %>
    </h1>
    <h1>
        <%= randomfamily %>
    </h1>
    <p>Omnis cumque mollitia quaerat incidunt. Aut provident consequatur qui incidunt. Magnam quis necessitatibus.
        Nostrum enim autem et et. Quo totam deleniti aspernatur ipsa fugiat laborum.

        Aut quaerat ut iste at sunt asperiores non. Facere incidunt nam cum corrupti sunt. Dolores quis maxime
        temporibus.

        Magni sed deserunt. Harum dolores voluptatem reprehenderit quo qui itaque labore aspernatur incidunt. Fuga
        cumque iusto eius molestiae excepturi hic ipsa.</p>
</body>

</html>