<h1>Create New Butterfly</h1>
<form action="/butterflies" method="post">
  <label for="">
    Name:
    <input type="text" name="name" placeholder="Enter Butterfly Name" require autofocus>
  </label>

  <label for="">
    Family:
    <input type="text" name="family" placeholder="Enter Butterfly Family">
  </label>

  <label for="">
    Image:
    <input type="url" name="image" placeholder="Link Address">
  </label>
  <br />
  <br />
  <label>
  Larvel Plant:
  <select name="plant_id">
  <option>default</option>
    <% Plant.all.each do |plant|%>
      <option value="<%plant.id %>"> <% plant.name %>> </option>
    <% end %>
  </select>
  </label>
  <button>Create Butterfly</button>
</form>
