<h1>Edit New Plant</h1>
<form action="/plants/<%= @plant.id %>" method="post">
  <label for="">
    Name:
    <input type="text" name="name" values="<%= @plant.name %>" placeholder="Enter Butterfly Name" require autofocus>
  </label>

  <label for="">
    Image:
    <input type="url" name="image" values="<%= @plant.image %>placeholder="Link Address">
  </label>
  <br />
  <br />
  <button>Update Plant</button>
</form>
