<h1>New Planet</h1>

<form action="<%= planets_path %>" method="post" class="form-group">
    <label>
        Name:
        <input type="text" class="input" name="name">
    </label>
    <br />
    <label>
        Image:
        <input type="url" class="input" name="image">
    </label>
     <br />
    <label>
        Orbit:
        <input type="number" class="input" name="orbit">
    </label>
     <br />
    <label>
        Diameter:
        <input type="text" class="input" name="diameter">
    </label>
     <br />
    <label>
        Mass:
        <input type="text" class="input" name="mass">
    </label>
     <br />
    <label>
        Moons:
        <input type="text" class="input" name="moons">
    </label>
     <br />
    <button type="submit" class="button">Create Planet</button>
</form>