<h1>AJAX Dashbaord</h1>

<p>Random Brother: <span id="brother"></span></p>
<p>Current Time: <span id = "time"></span></p>
<p>Current Uptime: <span id = "uptime"></span></p>
<p>Your Fortune: <span id = "fortune"></span> </p>