<h1>Welcome To Stack Getter</h1>
<h2>Enter Your Company Code Below</h2>

<form class="form-group" action="/result">
  <input class="input" type="text" name="stock_symbol" value="" required>
  <br>
  <button class="button" type="submit" name="button">Check Price</button>
</form>
