<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="style.css">
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="container">
    <header>

      <nav>
        <a href="#">Home</a>
        <a href="#">About Me</a>
        <a href="#">Contact</a>
      </nav>

      <h1>James Aspinall</h1>
    </header>


    <main>
      <h2>Content Goes Here.</h2>
      <img src="http://fillmurray.com/400/601" alt="" />
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas culpa obcaecati placeat atque sunt maiores accusantium sit eveniet commodi similique sed odio ducimus dolores enim et, nihil, minus, illo laborum.</p>
      <p>Nostrum praesentium, voluptatum dicta quo earum! Sapiente soluta temporibus doloremque aperiam ipsam sit explicabo aspernatur quam! Repellat dolore, culpa nemo accusamus asperiores, unde cupiditate odit, vel provident quas iusto dolor.</p>
      <p>Sequi, harum, totam. Repellendus blanditiis voluptatum repellat vitae magni autem sequi dolor cupiditate nemo quia ullam, amet veniam minus architecto tempora, id odio tenetur illo a possimus laboriosam adipisci error.</p>
    </main>

    <aside class="">
      <h3>Fun Facts.</h3>
      <ul>
        <li>Fact</li>
        <li>Fact</li>
        <li>Fact</li>
        <li>Fact</li>
      </ul>
    </aside>


  </div>
</body>

</html>
