body {
  height: 100vh;
  display: grid;
  place-items: center;
  margin: 0;
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: monofur,monospace;
  color: #ccc
}

/* .tag-wrap {
  -webkit-filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
          filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.tag-wrap:hover {
  -webkit-filter: drop-shadow(-1px 6px 3px rgba(150, 150, 0, 0.5));
          filter: drop-shadow(-1px 6px 3px rgba(150, 150, 0, 0.5));
}
.tag {
  background: #FB8C00;
  color: white;
  padding: 2rem 3rem 2rem 4rem;
  font: bold 32px system-ui;
  -webkit-clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
          clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
} */
