<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
        <% include partials/nav.ejs %>
    <h1>Look Up A Stock Price</h1>
    <form action="/info">
    <label for="">
        Stock Symbol:
        <input type="text" name="symbol" placeholder="GOOG">
    </label>
    <input type="submit" value="GO!">
    </form>
</body>
</html>