
<h1>Welcome to Crappy Calculator 2.0</h1>
<form action="/result">
  <label for="">
    First Number:
    <input type="number" name="x" value="">
  </label>

  <label for="">
    Enter Operator:
    <input type="text" name="operator" value="">
  </label>

  <label for="">
    Second Number:
    <input type="number" name="y" value="">
  </label>

  <button type="submit" name="button">Calculate!</button>

</form>
