<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Crappy Calculator 2.0</title>
    <link rel="stylesheet" href="/css/calculator.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/faq">FAQ</a>
    </nav>


    <%= yield %>


  </body>
</html>
