<h1>STOCK SEARCH</h1>
<p class="title">Enter Your Stock Name Below</p>
<form action="/stocks/result" class="form-group">
<input type="text" name="stock_symbol" class="input">
<button type="submit" class="button">Search</button>
</form>