-# %h1.heading.wednesday Hello World
-# %h2= "Here is your lucky number:  #{@lucky_number}"
-# %h3= @lucky_number * @lucky_number


-# %div.container
-#     %p 
-#         %span Here is a paragraph


%ul
  - %w{James Sam Jen Gaynor David}.each do |person|
    %li= person
    